<div class="w-full flex flex-col">
  <div class="flex flex-row justify-between p-1 border-solid border-b rounded-t-md border-zinc-700 bg-zinc-800">    
    <div class="flex flex-row gap-6 items-center">
      <p class="pl-2 font-semibold text-sm">{{ getHeader() }}</p>        
      @if (chartData()) {
        <p class="text-xs italic">
          (total: {{ chartData()!.total_played }} min.)
        </p>
      }
    </div>
    <div class="flex flex-row items-center gap-2">
      <p>Aggregate by:</p>
      <select class="w-24 py-1" (change)="onTypeChanged($event)">
        <option [value]="'record'">
          {{ 'Record' }}
        </option>
        <option [value]="'play' ">
          {{ 'Play' }}
        </option>
      </select>
    </div>
  </div>
  @if (chartData()) {
    <div 
      echarts
      class="w-full h-80" 
      [options]="options" 
      [merge]="mergeOptions" 
      [autoResize]="true"></div>
  } @else {
    <p class="flex-1 text-xl flex items-center justify-center mt-28">No data</p>
  }
</div>