<main>
    <div class="top-wrapper">
        <p class="page-header">Commit</p>
        <div class="header-controlls">
            <div class="date-picker">
                <p>Use today's date?</p>
                <input type="checkbox" class="t-checkbox" [(ngModel)]="isUseTodaysDate" />
                <input type="date" *ngIf="!isUseTodaysDate"
                    [value]="selectedDate | date:'yyyy-MM-dd'" 
                    [ngModel]="selectedDate | date:'yyyy-MM-dd'" (ngModelChange)="selectedDate=$event"
                    onfocus="'showPicker' in this && this.showPicker()" />
            </div>
            <div class="btn-controls">
                <input type="button" class="btn btn-action" value="Add" (click)="onAddClick()"/>
                <input type="button" class="btn btn-action" value="Save" (click)="onSaveClick()" [disabled]="recordModels.length == 0"/>
                <input type="button" class="btn btn-remove" value="Remove" (click)="onRemoveClick()"/>
            </div>
        </div>        
    </div>    
    <div class="exercise-grid">
        <div class="placeholder" *ngIf="recordModels.length == 0">
            <p>Click 'Add' to enter played exercise</p>
        </div>        
        <ng-container  *ngIf="recordModels.length > 0">            
            <div class="headers">
                <div class="h-check-all">
                    <input type="checkbox" class="t-checkbox" (change)="onAllSelectedChanged($event)" />
                </div>      
                <div class="h-duration">
                    <p>Duration</p>
                </div>         
                <div  class="h-type">
                    <p>Type</p>
                </div>
                <div class="h-name">
                    <p>Name</p>
                </div>
                <div class="h-author">
                    <p>Author</p>
                </div>
                <div class="h-bpm">
                    <p>Bpm</p>
                </div>          
                <div class="h-options">
                    <p>Options</p>
                </div>                    
            </div>
            <div class="card" *ngFor="let item of recordModels">
                <trh-exercise [model]="item"></trh-exercise>
            </div>
        </ng-container>
    </div>
</main>