<div class="w-full flex flex-col">
  <div
    class="flex flex-row gap-8 justify-between items-center p-1.5 border-solid border-b rounded-t-md border-zinc-700 bg-zinc-800">
    <p class="pl-2 font-semibold text-sm">Range Chart</p>
    <div class="flex flex-row gap-1 items-center">
      <div class="flex flex-row items-center gap-2 mr-8">
        <p>Aggregate by:</p>
        <select class="w-36 py-1" (change)="onTypeChanged($event)">
          <option [value]="'total_played'">
            {{ 'Total played' }}
          </option>
          <option [value]="'times_played' ">
            {{ 'Times played' }}
          </option>        
        </select>
      </div>
      <p>Range:</p>
      <input
        type="date"
        class="h-7"
        [value]="startDate | date:'yyyy-MM-dd'"
        (change)="onStartDateChanged($event)"
        onfocus="'showPicker' in this && this.showPicker()" 
      />
      <p>-</p>
      <input
        type="date"
        class="h-7"
        [value]="endDate | date:'yyyy-MM-dd'"
        (change)="onEndDateChanged($event)"
        onfocus="'showPicker' in this && this.showPicker()" 
      />
      <trh-button
        class="ml-2 h-7"
        [value]="'Apply'"
        [disabled]="!isApplyFiltersAllowed()"
        (pressed)="onApplyPressed()">
      </trh-button>
    </div>
  </div>
  <div class="pt-1.5">
    <div 
      echarts 
      class="w-full" 
      [options]="options">
    </div>
  </div>  
</div>