::ng-deep {
  mat-spinner {
    --mat-progress-spinner-active-indicator-color: rgb(
      205,
      205,
      205
    ) !important;
  }
}

.nav-item {
  @apply flex gap-x-1 border-solid rounded-md py-2 px-4 transition duration-300 hover:bg-[#6e789170] cursor-pointer;
}

.nav-text {
  @apply text-c-text-normal;
}

.nav-icon {
  @apply text-c-text-normal pt-1;
}
