
<main>
    <ng-container *ngIf="isUserMenuAsked">
      <trh-user-dropdown (isUserMenuAskedEmmiter)="onUserMenuPanelMouseOut($event)"></trh-user-dropdown>
    </ng-container>
    <div class="menu">
        <div class="logo">
            <i class="fa-solid fa-music fa-beat fa-lg menu-i"></i>
            <p>TrackHub</p>
        </div>        
        <ng-container *ngIf="isAuthorized$ | async">
            <div class="nav">
                <div class="nav-item">
                    <i class="fa-solid fa-chart-column"></i>
                    <p>Dashboard</p>
                </div>     
                <div class="nav-item">  
                    <i class="fa-solid fa-list-ul"></i>
                    <a routerLink="/app/list">List</a>                 
                </div> 
                <div class="nav-item">
                    <i class="fa-solid fa-plus"></i>
                    <a routerLink="/app/commit">Commit</a>                
                </div>   
            </div>                     
            <i class="fa-solid fa-circle-user fa-xl menu-i" (click)="onMenuDropDown()"></i>
        </ng-container>
    </div>
    <div class="content">
        <router-outlet></router-outlet>
    </div>
</main>
