
<div class="fixed inset-0 w-screen h-screen bg-black/30 flex justify-center items-center z-50" 
    *ngIf="isLoading$ | async">
  <!--  <mat-spinner color="accent" diameter="50" strokeWidth="5"></mat-spinner>-->
</div>
<div>
    <ng-container *ngIf="isUserMenuAsked">
   <!--   <trh-user-dropdown (isUserMenuAskedEmmiter)="onUserMenuPanelMouseOut($event)"></trh-user-dropdown> -->
    </ng-container>
    <div class="menu p-2 flex flex-row justify-between items-center bg-c-bg-accent border-b border-solid border-c-border">
        <div class="flex pl-5 text-c-logo">
            <i class="fa-solid fa-music fa-beat fa-lg menu-i logo-color pt-[1.15rem]"></i>
            <p class="text-[24px] text-white pl-4">TrackHub</p>
        </div>        
        <ng-container *ngIf="isAuthorized$ | async">
            <div class="nav flex flex-row justify-around gap-1">
                <div class="nav-item">
                    <i class="fa-solid fa-chart-column nav-icon"></i>
                    <p class="nav-text">Dashboard</p>
                </div>     
                <div class="nav-item" (click)="onNavigationClicked('/app/list')">  
                    <i class="fa-solid fa-list-ul nav-icon"></i>
                    <p class="nav-text">List</p>
                </div> 
                <div class="nav-item" (click)="onNavigationClicked('/app/commit')">
                    <i class="fa-solid fa-plus nav-icon"></i>
                    <p class="nav-text">Commit</p>                
                </div>   
            </div>  
            <div class="flex">
                <p class="nav-text pr-3 pt-1">Welcome, {{userName}}</p>    
                <img [src]="userPictureUrl" class="w-7 h-7 rounded-full" alt="User Profile Picture" (click)="onMenuDropDown()" />
            </div>                          
        </ng-container>
    </div>
    <div class="min-h-[70vh] mb-[5vh]">
        <router-outlet></router-outlet>
    </div>
</div>
