
<main>
    <div class="menu">
        <div class="logo">
            <i class="fa-solid fa-music fa-beat fa-lg menu-i"></i>
            <p>TrackHub</p>
        </div>        
        <div class="nav">
            <div class="nav-item">
                <i class="fa-solid fa-chart-column"></i>
                <p>Dashboard</p>                
            </div>     
            <div class="nav-item">
                <i class="fa-solid fa-list-ul"></i>
                <p>List</p>                
            </div>     
            <div class="nav-item">
                <i class="fa-solid fa-plus"></i>
                <p>Commit</p>                
            </div>   
        </div>                     
        <i class="fa-solid fa-circle-user fa-xl menu-i"></i>
    </div>
    <div class="content">
        <router-outlet></router-outlet>
    </div>
</main>