p {
    color: #9fa6bc;
    transition: 0.5s;                     
}

.menu {
    background-color: #141824;
    border-bottom: 1px solid #31374a;

    min-height: 6.33vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .menu-i {        
        margin: 0 1.25rem;
        color: var(--color-low-ascent);     
        transition: 0.5s;                     
    }
    
    .menu-i:hover {
        color: var(--color-high-ascent);        
    }

    .nav {        
        display: flex;
        flex-direction: row;
        justify-content: space-around;        
        gap: 0.5rem;

        .nav-item {
            padding: 1vh 2rem;
            border-radius: 10px;
            display: flex;       
            transition: 0.5s;                     

            i {
                color: var(--color-low-ascent);     
                margin: 1% 0.5rem 0 0;
            }
        }

        .nav-item:hover {
            background-color: #6e7891d5;
        }
    }
}

.content {
    min-height: 70vh;
    margin-bottom: 5vh;
}