<div class="w-full flex flex-col">
  <div class="flex flex-row justify-between min-h-10 border-solid border-b rounded-t-md border-zinc-700 bg-zinc-800">
    <p class="pl-3 pt-2.5 text-teal-50">Trends</p>
  </div>
  @if (this.currentMonth() && this.previousMonth()) {
  <div class="p-2.5 flex flex-col gap-4">
    <trh-linear-trend [description]="'Total time'" [currentIndicator]="this.currentMonth()!.totalPlayed"
      [previousIndicator]="this.previousMonth()!.totalPlayed">
    </trh-linear-trend>
    @if (hasSongAggregation) {
    <trh-linear-trend [description]="'Songs total'"
      [currentIndicator]="this.currentMonth()!.songAggregation!.totalPlayed"
      [previousIndicator]="this.previousMonth()!.songAggregation!.totalPlayed">
    </trh-linear-trend>
    }
    @if (hasRhythmAggregation) {
    <trh-linear-trend [description]="'Rhythm total'"
      [currentIndicator]="this.currentMonth()!.rhythmAggregation!.totalPlayed"
      [previousIndicator]="this.previousMonth()!.rhythmAggregation!.totalPlayed">
    </trh-linear-trend>
    }
    @if (hasSoloAggregation) {
    <trh-linear-trend [description]="'Solo total'"
      [currentIndicator]="this.currentMonth()!.soloAggregation!.totalPlayed"
      [previousIndicator]="this.previousMonth()!.soloAggregation!.totalPlayed">
    </trh-linear-trend>
    }
  </div>
  }
</div>