<div class="mx-[28%] mt-28">
  <div class="p-6 bg-zinc-900 border border-solid rounded-md border-c-border">
    <div class="text-center">
      <h2 class="text-[28px] text-zinc-100">Welcome to the TrackHub</h2>
      <p class="text-base text-zinc-400 pt-5">
        Authorize to the application with your Google account
      </p>
    </div>
    <div class="pt-10 pb-5 flex items-center justify-center">
      <asl-google-signin-button
        type="standard"
        shape="pill"
        theme="filled_blue"
        text="continue_with"
      >
      </asl-google-signin-button>
    </div>
  </div>
</div>
