.arrow {
  @apply bg-zinc-900 w-10 h-7 flex flex-row justify-center items-center border rounded-md border-solid border-zinc-700 cursor-pointer;
  @apply hover:border-gray-500 hover:text-gray-100 transition duration-200;
}

.disabled {
  @apply cursor-not-allowed opacity-50;
  @apply text-gray-400 bg-zinc-800 border-gray-700;
  @apply hover:border-gray-700;
}