.arrow {
  @apply bg-zinc-900 w-10 h-7 flex flex-row justify-center items-center border rounded-md border-solid border-zinc-700 cursor-pointer;
  @apply hover:border-gray-500 hover:text-gray-100 transition duration-200;
}