.user-profile-block {
    margin: 7.5vh 1px 0 92.5%;

    .user-profile-block-item {
        display: flex;
        flex-direction: row;
        justify-content: center;

        width: 7rem;
        margin: 1vh 0;

        p {
            color: #9fa6bc;
        }

        i {
            padding-top: 8px;
            padding-right: 5px;
        }
    }
}