.exercise-wrapper {
  >div {
    @apply my-4;
  }
}

.status {
  >p {
    @apply ml-10 mt-0.5
  }
}

.suggestion-animation {
  animation: ani 2s forwards;
}

.suggestion-item {
  @apply mt-1 p-1 bg-neutral-800 text-zinc-400 rounded-md transition duration-[0.25s];

  &:hover {
    @apply bg-neutral-500 text-zinc-200
  }
}

input[type="text"] {
  @apply text-[beige] bg-transparent border border-transparent border-b-2 rounded-s w-[90%] p-[2.5px] focus:outline-none border-b-gray-900;

}

input[type="text"]::placeholder {
  @apply text-gray-500;
}

@keyframes ani {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}