<main>
    <div class="exercise-wrapper">
        <div class="input-wrapper h-check-all">
            <input type="checkbox" class="t-checkbox" [(ngModel)]="isSelected"/>
        </div>
        <div class="input-wrapper h-duration">
            <input type="text" class="input-text" placeholder="played minute(s)" 
                [(ngModel)]="model.playDuration" (ngModelChange)="onModelChanged()" 
                oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" />            
        </div> 
        <div class="input-wrapper h-type">        
            <select class="input-text" [(ngModel)]="model.recordType" (ngModelChange)="onModelChanged()" >
                <option *ngFor="let recordType of recordTypes">{{recordType}}</option>   
            </select>
            <i class="fa-solid fa-caret-down select-carret"></i>
        </div>
        <div class="input-wrapper h-name">
            <input type="text" class="input-text" placeholder="search a name"
                [(ngModel)]="model.name" (ngModelChange)="onModelChanged()" 
                [formControl]="searchSongField" (click)="onSongInputClick($event)" autocomplete="off" />
        </div>
        <div class="input-wrapper h-author">
            <input type="text" class="input-text" placeholder="search an author"
                [(ngModel)]="model.author" (ngModelChange)="onModelChanged()" 
                [formControl]="searchAuthorField" (click)="onAuthorInputClick($event)" autocomplete="off" />
        </div>
        <div class="input-wrapper h-bpm">
            <input type="text" class="input-text" placeholder="select bpm" 
                [(ngModel)]="model.bitsPerMinute" (ngModelChange)="onModelChanged()"
                oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" />
        </div>    
        <div class="input-wrapper h-options">
            <select class="input-text" [(ngModel)]="model.playType" (ngModelChange)="onModelChanged()">
                <option *ngFor="let playType of playTypes">{{playType}}</option>          
            </select>
            <i class="fa-solid fa-caret-down select-carret"></i>
        </div>    
        <div class="input-wrapper h-options">
            <label>Is recorded</label>
            <input type="checkbox" class="t-checkbox" 
                [(ngModel)]="model.isRecorded" (ngModelChange)="onModelChanged()"/>
        </div>    
        <div class="input-wrapper h-record-status">
            <p class="status-changed" *ngIf="currectRecordStatusType == recordStatusTypeEnum.changed">changed</p>
            <p class="status-saved" *ngIf="currectRecordStatusType == recordStatusTypeEnum.saved">saved</p>
            <p class="status-draft" *ngIf="currectRecordStatusType == recordStatusTypeEnum.draft">draft</p>
        </div>
    </div>
    <ng-container  *ngIf="isSuggestionsAsked">
        <div class="suggestions">
            <p class="suggestion-label">
                Suggestions: 
            </p>
            <ng-container *ngIf="currentSuggestionsType == suggestionTypeEnum.song">
                <div class="suggestion-wrapper">
                    <div *ngFor="let item of songSuggestions" class="suggestion-item">
                        <p (click)="onSuggestionClick(item.toString())">{{item}}</p>
                    </div>           
                </div>
            </ng-container>
            <ng-container *ngIf="currentSuggestionsType == suggestionTypeEnum.author">
                <div class="suggestion-wrapper">
                    <div *ngFor="let item of authorSuggestions" class="suggestion-item">
                        <p (click)="onSuggestionClick(item.toString())">{{item}}</p>
                    </div>           
                </div>
            </ng-container>
        </div>
    </ng-container>
    <div class="border-line"></div>
</main>
