main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    margin: 12vh 29% 0 29%;
    
    background-color: #141824;
    border: 1px solid #31374a;
    border-radius: 4px;

    div {
        text-align: center;
        h1 {
            font-size: 28px;
            color: white;
            margin-top: 3vh;            
        }

        p {
            font-size: 16px;
            color: var(--color-low-ascent);
            margin-top: 4vh;
        }

        input[type="button"] {
            color: var(--color-low-ascent);
            background-color: #6e789170;
            padding: 10px 20px;
            margin: 3vh 0 3vh 0;
        }

        input[type="button"]:hover {
            background-color: #bec2cb70;
        }
    }
}