<div class="flex flex-row justify-end gap-6 w-full">
    <div class="flex flex-row gap-1 mt-2 filter-options">
        <label class="text-sm text-c-text-shadow">Show expanded</label>
      <!--  <input type="checkbox" class="t-checkbox" (click)="onExpandAllClicked($event)"
            [ngModel]="filter.showExpanded" />-->
    </div>
    <div class="flex flex-row gap-1 mt-2 filter-options">
        <!--<label class="text-sm text-c-text-shadow">Show non-playd days</label>
        <input type="checkbox" class="t-checkbox" (click)="onShowNonPlayedClicked($event)"
            [ngModel]="filter.showNonPlayed" />-->
    </div>
    <div>
        <trackhub-exercise-date-filter  
            [startYear]="userFirstYear"
            [ngModel]="dateFilter"
            (ngModelChange)="onFilterDateChanges($event)">
        </trackhub-exercise-date-filter>
    </div>
</div>