<main>
    <div class="top-wrapper">
        <p class="page-header">Exercise List</p>
    </div>
    <div class="exerice-list-wrapper">
        <div class="card-header">
            <div class="grid-item grid-headers">
                <p class="grid-item-expand"></p>                
                <p class="grid-item-play-date">Play date</p>                
                <p class="grid-item-total-played">Total played</p>
            </div>
            <div class="paging">
                <trh-date-filter 
                    (onDateChangedEmmiter)="onDateChanged($event)"
                    (onShowNonPlayedEmitter)="onShowNonPlayedChanged($event)"
                    (onExpandAllEmitter)="onExpandChanged($event)">
                </trh-date-filter>
            </div>
        </div>
        <div class="scrollable-cards">
            <ng-container *ngFor="let item of exercises">
                <div class="card" *ngIf="!item.isHidden">
                    <div class="grid-item grid-short-view">
                        <div class="grid-item-expand">
                            <ng-container *ngIf="item.totalPlayed! > 0">
                                <i class="fa-solid fa-up-right-and-down-left-from-center fa-flip-horizontal fa-lg" 
                                    *ngIf="!item.isExpanded" (click)="onCardExpand(item)"></i>       
                                <i class="fa-solid fa-down-left-and-up-right-to-center fa-flip-horizontal fa-lg"
                                    *ngIf="item.isExpanded" (click)="onCardExpand(item)"></i>                 
                            </ng-container>                                                                                           
                        </div>                
                        <p class="grid-item-play-date">{{ item.playDate | date: 'dd/MM/yyyy'}}</p>
                        <p *ngIf="item.totalPlayed! > 0" class="grid-item-total-played">{{ item.totalPlayed }} minute(s)</p>
                        <div class="grid-item-actions" *ngIf="item.totalPlayed! > 0">
                            <i class="fa-regular fa-pen-to-square fa-lg" (click)="onExerciseEdit(item)"></i>
                            <i class="fa-solid fa-xmark fa-lg i-remove" (click)="onRemoveItem(item)"></i>
                        </div>  
                    </div>
                    <ng-container *ngIf="item.isExpanded">
                        <div class="details-wrapper">
                            <trh-details-exercise-card 
                                [exerciseId]="item.exerciseId"
                                [exerciseDetailsModels]="item.records">
                            </trh-details-exercise-card>
                        </div>
                    </ng-container>
                </div>
            </ng-container>
        </div> 
    </div>
</main>