<div class="flex flex-col h-dvh bg-c-bg-contrast pb-14">
  <div class="pb-12 ml-14 shrink-0">
    <p class="text-2xl text-white pt-4">Exercise List</p>
  </div>
  <div class="flex-1 px-12 min-h-0 flex flex-col">
    <div
      class="shrink-0 flex flex-row justify-end py-2 bg-zinc-800 border rounded-t-xl border-solid border-zinc-700"
    >
      <div class="flex ml-12 pt-2 w-full">
        <p class="w-[4%]"></p>
        <p class="w-[12%] font-semibold text-sm">Play date</p>
        <p class="w-[10%] font-semibold text-sm">Total played</p>
      </div>
      <div class="absolute z-10 mr-2.5">
        <trh-exercise-filter
          [filter]="filter"
          (onDateChangedEmmiter)="onDateChanged($event)"
          (onShowPlayedOnlyEmitter)="onShowPlayedOnlyEmitter($event)"
          (onExpandAllEmitter)="onExpandChanged($event)"
        >
        </trh-exercise-filter>
      </div>
    </div>
    <div
      class="flex-1 min-h-0 overflow-y-auto border-r border-solid border-zinc-700"
    >
      @if (isAnyExerciseShown) { @for (item of exercises; track $index) {
      @if(!item.isHidden) {
      <div
        class="pb-4 bg-zinc-900 border-b border-l border-solid border-zinc-700"
      >
        <div class="flex flex-row pt-4 ml-12">
          <div class="w-[4%]">
            @if (item.totalPlayed! > 0) { @if (!item.isExpanded) {
            <i
              class="fa-solid fa-down-left-and-up-right-to-center fa-flip-horizontal fa-lg grid-icon"
              (click)="onCardExpand(item)"
            ></i>
            } @if (item.isExpanded) {
            <i
              class="fa-solid fa-up-right-and-down-left-from-center fa-flip-horizontal fa-lg grid-icon"
              (click)="onCardExpand(item)"
            ></i>
            } }
          </div>
          <p class="grid-item w-[12%]">
            {{ item.playDate | date : "dd/MM/yyyy" }}
          </p>
          @if (item.totalPlayed! > 0) {
          <p class="grid-item w-[10%]">{{ item.totalPlayed }} minute(s)</p>
          <div class="flex flex-row justify-end gap-3 w-[72.5%] pt-2">
            <i
              class="fa-regular fa-pen-to-square fa-lg grid-icon"
              (click)="onExerciseEdit(item)"
            ></i>
            <i
              class="fa-solid fa-xmark fa-lg text-c-remove-icon transition duration-300 hover:text-gray-200"
              (click)="openDialog(item)"
            ></i>
          </div>
          }
        </div>
        @if (item.isExpanded) {
        <div class="pt-2 ml-[5.25rem]">
          <trh-details-exercise-card
            [exerciseId]="item.exerciseId"
            [exerciseDetailsModels]="item.records"
          >
          </trh-details-exercise-card>
        </div>
        }
      </div>
      } } } @else {
      <div
        class="flex flex-col items-center h-full pt-52 border border-solid border-t-0 border-b-0 border-c-border"
      >
        <p class="text-2xl text-zinc-500">Nothing to show</p>
        <p class="text-xl text-zinc-500">
          Change show options or set different date range
        </p>
      </div>
      }
    </div>
  </div>
</div>
