<div class="bg-c-bg-contrast">
  <div class="flex flex-row justify-between">
    <div class="mb-20 ml-12">
      <p class="text-3xl text-white pt-4">Auto Commit</p>
    </div>
    <div class="mt-2 flex flex-row justify-evenly gap-2 place-items-end mb-2 mr-10">
      <trh-button 
        [value]="'Add'" 
        (pressed)="onAddClick($event)" />
    </div>
  </div>
  <div class="exercise-grid h-dvh bg-zinc-950 border-t border-solid border-c-border">
    <div class="flex flex-row mx-32 mt-4 gap-6">
      <div>
        <p class="text-slate-200 mb-2 pl-2">Text to recognition:</p>
        <textarea [value]="text" (input)="onInput($event)"
          class="bg-zinc-900 border border-gray-600 rounded-md p-3 text-c-text-grey" rows="24" cols="80"
          placeholder="Type your message here..."></textarea>
      </div>
      <div class="ml-10">
        <p class="text-slate-200">Preview</p>
        @for (item of validationIssues; track $index) {
          <trh-preview-validation [previewIssue]="item"></trh-preview-validation>
        }
      </div>
    </div>
  </div>
</div>