<main>
    <div class="filter-options">
        <label>Show expanded</label>
        <input type="checkbox" class="t-checkbox" (click)="onExpandAllClicked($event)"
            [ngModel]="filter.showExpanded"/>
    </div>
    <div class="filter-options">
        <label>Show non-playd days</label>
        <input type="checkbox" class="t-checkbox" (click)="onShowNonPlayedClicked($event)"
            [ngModel]="filter.showNonPlayed" disabled/>
    </div>
    <div class="filter-year-selector">
        <!-- <select ([ngModel])="selectedYear"> -->
        <select class="input-select" [ngModel]="filter.year">
            <option *ngFor="let year of userProfileYears.reverse()" [value]="year">{{ year }}</option> 
        </select>
        <i class="fa-solid fa-caret-down select-carret"></i>
    </div>
    <div class="filter-month-selector">
        <i class="fa-solid fa-chevron-left fa-lg"></i>
        <div *ngFor="let e of [].constructor(12); let monthIndex = index">
            <p (click)="onMonthClick(monthIndex + 1)">{{ monthIndex + 1 }}</p>
        </div>
        <i class="fa-solid fa-chevron-right fa-lg"></i>
    </div>
</main>