main {
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 1.5rem;

    width: 100rem;

    .filter-options {
        display: flex;
        flex-direction: row;
        gap: 0.33rem;

        margin-top: 0.5vh;

        label {
            font-size: 0.85rem;
            font-weight: 400;
            color: rgba(144, 161, 211, 0.788);                      
        }
    }

    .filter-year-selector {
        display: flex;
        flex-direction: row;

        .input-select {
            color: rgb(133, 169, 255);
            background-color: transparent;
        
            border: transparent;
            border-bottom: 2px solid rgba(52, 51, 117, 0.308);
            border-radius: 5px;
        
            width: 5rem;
            padding: 2.5px;
        }

        .select-carret {    
            margin-top: 0.5vh;
            color: rgb(133, 169, 255);
        }
    }

    .filter-month-selector {
        display: flex;

        margin-top: 0.5vh;

        p {
            cursor: pointer;
            padding-left: 0.25rem;
            color: rgba(133, 170, 255, 0.784);
        }

        p:disabled {
            color: rgba(133, 170, 255, 0.336);
        }

        i {
            margin: 0.85vh 0.5rem 0 0.5rem;

            color: rgba(133, 170, 255, 0.997);        
            transition: 0.5s;                    
        }
        
        i:hover {
            color: rgb(225, 234, 255);
        }
    }
}