<main class="exercise-wrapper">
    <div class="input-wrapper">
        <input type="text" class="input-text" placeholder="type"/>
    </div>
    <div class="input-wrapper">
        <input type="text" class="input-text" placeholder="song name"/>
    </div>
    <div class="input-wrapper">
        <input type="text" class="input-text" placeholder="author"/>
    </div>
    <div class="input-wrapper">
        <input type="number" id="input-bpm" class="input-text" placeholder="bpm"/>
    </div>
</main>