p {
    color: var(--color-high-ascent);
}

main {    
    display: flex;
    flex-direction: row;
    gap: 1rem;

    min-height: 10vh;

    .input-wrapper {
        margin: 32px 1.5rem;        

        #input-bpm {
            width: 3.5rem;
        }
    }    
}

.input-text {
    color: var(--color-high-ascent);
    background-color: transparent;

    border: transparent;
    border-bottom: 1px solid rgba(0, 0, 0, 0.418);
}

.input-text::placeholder {
    color: var(--color-low-ascent);
}

.input-text:focus {
    outline: none;
}
