<main class="exercise-wrapper">
    <div class="input-wrapper h-check-all">
        <input type="checkbox" class="t-checkbox"  />
    </div>
    <div class="input-wrapper h-type">        
        <select class="input-text">
            <option>Warmup</option>
            <option>Song</option>  
            <option>Improvisation</option>  
            <option>Exercise</option>                      
        </select>
    </div>
    <div class="input-wrapper h-name">
        <input type="text" class="input-text" placeholder="search a name"/>
    </div>
    <div class="input-wrapper h-author">
        <input type="text" class="input-text" placeholder="search an author"/>
    </div>
    <div class="input-wrapper h-bpm">
        <input type="number" id="input-bpm" class="input-text" placeholder="select bpm"/>
    </div>    
    <div class="input-wrapper h-options">
        <label>Solo only</label>
        <input type="checkbox" class="t-checkbox"  />
    </div>
</main>
<div class="border-line"></div>