<div class="flex flex-row justify-end gap-6 w-full">
  <div class="flex gap-7 mt-2">
    <div class="flex gap-2">
      <label class="-mt-0.5">Show expanded</label>
      <input
        type="checkbox"
        [checked]="filter()!.showExpanded"
        (click)="onExpandAllClicked($event)"
      />
    </div>
    <div class="flex gap-2">
      <label class="-mt-0.5">Show playd only days</label>
      <input
        type="checkbox"
        [checked]="filter()!.showPlayedOnly"
        (click)="onShowPlayedOnlyClicked($event)"
      />
    </div>
  </div>
  <div>
    <trh-month-picker
      [startYear]="userFirstYear"
      [ngModel]="filter()!.dateFilter"
      (ngModelChange)="onFilterDateChanges($event)"
    >
    </trh-month-picker>
  </div>
</div>
